/* Color Palette
Black Hex Code: #000000
Grey Hex Code: #C7D6D5
Red Hex Code: #C20114
*/

/* Navbar */

.container {
  display: flexbox;
  border-radius: 10px;
}

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  background-color: #c7d6d5;
  border-radius: 10px;
}

/* about-section */

.about-section {
  border: 5px;
  border-color: #000000;
  border-style: double;
}

/* projects-section */

.projects-section {
  border: 5px;
  border-color: #c20114;
  border-style: double;
}

/* contact-section */

.contact-section {
  border: 5px;
  border-color: #c7d6d5;
  border-style: double;
}
